@model TrashPickup.Models.Billing

 @if (Model != null)
 {
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            
                
                <tr>
                    <td>
                        $@Model.Balance
                        
                    </td>
                </tr>
            
        </tbody>
    </table>
 }
 else
 {
    <p> No address found,  please enter an address</p>
 }